ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;


}
li {
  background-color: #bff;
  margin: 10px;
  border-radius: 3px;
  padding: 15px 10px 15px 10px;
}
.inner li{
  background-color: white;
  padding: 15px;
  border-radius: 6px;
}
body{
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, monospace;
    font-size: 0.9em;
    line-height: 1.4;

}
h1{
    text-align: center;
    text-transform: uppercase;

}
/**** Tablet Styles ***********************************/

@media screen and (min-width: 700px) {
  ul {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  li {
    background-color: #fcf;
    flex: 1 1 42%;

  }
  .inner {
    flex: 1 1 100%;

  }

}
/**** Desktop Styles ***********************************/

@media screen and (min-width: 1000px) {
  ul li {
    flex: 1 1 10%;

  }
  li li {
    flex: 1 1 10%
  }
  li {
    background-color: #ff9;
    order: 1;
  }

  .inner {
  order: 0;
  }
}
